body {
    /*  background-color: rgb(248, 244, 244) !important;*/
    /*padding: 60px;*/
     background: linear-gradient(to right, #b7bfc0a4 ,white,#b7bfc0a4 );
        font-family: verdana;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
html,body{
    height:100%;
}
main{
        align-items: center;
}
select{
    border: 3px solid teal;
}

.footer{
    width: 100vw;
    height: 0rem;
    margin-top:auto;
}
.footer-bottom-text{
    text-align: center;
    background: #000;
    line-height: 40px;
    margin-top:auto;
}

.signupheading{
    font-weight: bold;
    font-family: verdana;
    color: #fff;
}

 form{
     /max-width: 100%;/
     width: 500px;
     height: 900px;
     background-color: #264358;
      border-top: 7px solid teal;
 font-family: verdana;
     font-weight: bold;
     color: white;
     border-radius: 15px;
     box-shadow: 0 0 20px rgb(242, 224, 247);
 }
 input[type=text], input[type=email], input[type=password]{
     border-radius: 5px;
     border: 3px solid teal;
 }

 form-group
 {
     margin-left: 30px;
 }
 select
 {
     width: 250px;
     height:50px;
 }

 #btn1{
    background-color: teal;
     color: white;
     border-radius: 3px;
     font-family: verdana;
     font-weight: bold;
    align-items: center;
}

#btn2{
  margin:3px;

}
 img{
     border-radius: 50%;
     border: black solid 3px;
     border-color: black;

 }

 #error
 {
      color:red;
     font-size: xx-small;
     font-weight: lighter;
 }